@use './mixin' as mixin;
@use './colores' as colors;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Source+Sans+Pro:wght@300;400&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration: none;
    list-style: none;
}
html{
    position: relative;
    font-size: 18px;

    @include mixin.medium{
        font-size:16px;
    }
    @include mixin.litle{
        font-size:14px;
    }

    .container{
        width: 85%;
        margin: 0 auto;

        @include mixin.medium{
            width: 90%;
        }
        @include mixin.litle{
            width: 95%;
        }
    }

    .goTop{
        font-size: 3rem;
        color: colors.$color4;
        position: fixed;
        bottom: 15px;
        right: 15px;
        z-index: 100;
        cursor: pointer;
        display: none;
        
    }
}
