@use '../variables' as var;
@use '../mixin' as mixin;
@use '../colores' as colors;

.main{
    .shop{
        margin-bottom: 2em;
        &__title{
            @include mixin.title(var.$tipografia1, 1.5rem, colors.$color1);
            margin-bottom: 0.5em;
        }
        &__text{
            @include mixin.text(var.$tipografia2, 1.3rem, colors.$color4, justify);
            
        }
    }
    .parallax{
        margin-bottom: 2em;
        @include mixin.background('../../img/mechanic.jpg');
        background-attachment: fixed;
        padding: 2em;
        .parallaxContent{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            
            &__title{
                @include mixin.title(var.$tipografia1,1.4rem, colors.$color3);
                font-weight: 500;
                text-align: center;
            }
            &__text{
                @include mixin.text(var.$tipografia2,1rem, colors.$color6, center);
                font-weight: 500;
            }
        }
    }

    .title{
        @include mixin.title(var.$tipografia1,1.4rem, colors.$color4);
    }

    .accessories{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 2em;
        .accessory{
            width: 23%;
            overflow: hidden;
            margin-bottom: 2em;
            
            @include mixin.medium{
                width: 32%;   
            }

            @include mixin.litle{
                width: 45%;
            }


            &__image{
                padding: 1em;
                background-color: colors.$color3;
                margin-bottom: 1em;
                img{
                    width: 100%;
                    transition: transform .5s ease;
                    &:hover{
                        transform: scale(1.1);
                    }
                }
                i{
                    display: flex;
                    justify-content: flex-end;
                    font-size: 1.2rem;
                    cursor: pointer;
                    z-index: 100;
                    position: relative;
                 
                    &:hover{
                        color:colors.$color1;

                    }
                }
            }
            &__content{
                .name{
                    @include mixin.title(var.$tipografia1,1rem, colors.$color4);
                    text-align: center;
                }    
                .price{
                    display: flex;
                    justify-content: space-around;

                    .delete{
                        color: colors.$color1;
                        text-decoration: line-through;
                    }
                    .success{
                        font-weight: 700;
                    }
                }
            }
        }
    }

    .subscribe{
        background-color: colors.$color1;
        padding: 2em 0;
        .subscribeContent{
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include mixin.litle{
                flex-direction: column
            }
            .subscribeContent__title{
                @include mixin.title(var.$tipografia1,1.3rem, colors.$color3);
                margin-bottom: 0;

                @include mixin.litle{
                    margin-bottom: 1em;
                }
            }
            .subscribeContent__form{
                width: 45%;
                display: flex;
                justify-content: space-between;
                
                @include mixin.medium{
                    flex-direction: column;
                    align-items: center;
                }

                @include mixin.litle{
                    width: 100%;
                }
                
                
                .formText{
                    @include mixin.medium{
                        width:100%;
                        margin-bottom: 1em; 
                    }                   
                    @include mixin.inputTransparent(75%,1rem, 3px);
                    padding: 0.6rem;

                }
                .formButton{
                    @include mixin.button(transparent, colors.$color3, 1px solid colors.$color3);
                    width: 20%;
                    padding: 0.8em 0;
                
                    @include mixin.medium{
                        width:100%; 
                    }               
                
                }
            }
        }
    }


}
